<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.basic.mapper.PRIVS_DEPARTMENTMapper" >
  <resultMap id="BaseResultMap" type="com.project.basic.entity.PRIVS_DEPARTMENT" >
    <id column="ID" property="ID" jdbcType="VARCHAR" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="ALIASNAME" property="ALIASNAME" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="DESCRIPTION" jdbcType="VARCHAR" />
    <result column="PARENTID" property="PARENTID" jdbcType="VARCHAR" />
    <result column="DUTY" property="DUTY" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="CREATEDATE" jdbcType="TIMESTAMP" />
    <result column="ADDRESS" property="ADDRESS" jdbcType="VARCHAR" />
    <result column="URL" property="URL" jdbcType="VARCHAR" />
    <result column="CONTACTS" property="CONTACTS" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="TELEPHONE" jdbcType="VARCHAR" />
    <result column="EMAIL" property="EMAIL" jdbcType="VARCHAR" />
    <result column="DEPARTMENTCODE" property="DEPARTMENTCODE" jdbcType="VARCHAR" />
    <result column="X" property="x" jdbcType="DECIMAL" />
    <result column="Y" property="y" jdbcType="DECIMAL" />
    <result column="CXRQ" property="CXRQ" jdbcType="TIMESTAMP" />
    <result column="XZQBM" property="XZQBM" jdbcType="VARCHAR" />
    <result column="ISDEPARTMENT" property="ISDEPARTMENT" jdbcType="CHAR" />
    <result column="REMARK" property="REMARK" jdbcType="VARCHAR" />
    <result column="CJRID" property="CJRID" jdbcType="VARCHAR" />
    <result column="CJSJ" property="CJSJ" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, ALIASNAME, DESCRIPTION, PARENTID, DUTY, CREATEDATE, ADDRESS, URL, CONTACTS, 
    TELEPHONE, EMAIL, DEPARTMENTCODE, X, Y, CXRQ, XZQBM, ISDEPARTMENT, REMARK, CJRID, 
    CJSJ
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.project.basic.entity.PRIVS_DEPARTMENTExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRIVS_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PRIVS_DEPARTMENT
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PRIVS_DEPARTMENT
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.basic.entity.PRIVS_DEPARTMENTExample" >
    delete from PRIVS_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.basic.entity.PRIVS_DEPARTMENT" >
    insert into PRIVS_DEPARTMENT (ID, NAME, ALIASNAME, 
      DESCRIPTION, PARENTID, DUTY, 
      CREATEDATE, ADDRESS, URL, 
      CONTACTS, TELEPHONE, EMAIL, 
      DEPARTMENTCODE, X, Y, 
      CXRQ, XZQBM, ISDEPARTMENT, 
      REMARK, CJRID, CJSJ
      )
    values (#{ID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, #{ALIASNAME,jdbcType=VARCHAR}, 
      #{DESCRIPTION,jdbcType=VARCHAR}, #{PARENTID,jdbcType=VARCHAR}, #{DUTY,jdbcType=VARCHAR}, 
      #{CREATEDATE,jdbcType=TIMESTAMP}, #{ADDRESS,jdbcType=VARCHAR}, #{URL,jdbcType=VARCHAR}, 
      #{CONTACTS,jdbcType=VARCHAR}, #{TELEPHONE,jdbcType=VARCHAR}, #{EMAIL,jdbcType=VARCHAR}, 
      #{DEPARTMENTCODE,jdbcType=VARCHAR}, #{x,jdbcType=DECIMAL}, #{y,jdbcType=DECIMAL}, 
      #{CXRQ,jdbcType=TIMESTAMP}, #{XZQBM,jdbcType=VARCHAR}, #{ISDEPARTMENT,jdbcType=CHAR}, 
      #{REMARK,jdbcType=VARCHAR}, #{CJRID,jdbcType=VARCHAR}, #{CJSJ,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.basic.entity.PRIVS_DEPARTMENT" >
    insert into PRIVS_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="ALIASNAME != null" >
        ALIASNAME,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="PARENTID != null" >
        PARENTID,
      </if>
      <if test="DUTY != null" >
        DUTY,
      </if>
      <if test="CREATEDATE != null" >
        CREATEDATE,
      </if>
      <if test="ADDRESS != null" >
        ADDRESS,
      </if>
      <if test="URL != null" >
        URL,
      </if>
      <if test="CONTACTS != null" >
        CONTACTS,
      </if>
      <if test="TELEPHONE != null" >
        TELEPHONE,
      </if>
      <if test="EMAIL != null" >
        EMAIL,
      </if>
      <if test="DEPARTMENTCODE != null" >
        DEPARTMENTCODE,
      </if>
      <if test="x != null" >
        X,
      </if>
      <if test="y != null" >
        Y,
      </if>
      <if test="CXRQ != null" >
        CXRQ,
      </if>
      <if test="XZQBM != null" >
        XZQBM,
      </if>
      <if test="ISDEPARTMENT != null" >
        ISDEPARTMENT,
      </if>
      <if test="REMARK != null" >
        REMARK,
      </if>
      <if test="CJRID != null" >
        CJRID,
      </if>
      <if test="CJSJ != null" >
        CJSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="ALIASNAME != null" >
        #{ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="PARENTID != null" >
        #{PARENTID,jdbcType=VARCHAR},
      </if>
      <if test="DUTY != null" >
        #{DUTY,jdbcType=VARCHAR},
      </if>
      <if test="CREATEDATE != null" >
        #{CREATEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ADDRESS != null" >
        #{ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="URL != null" >
        #{URL,jdbcType=VARCHAR},
      </if>
      <if test="CONTACTS != null" >
        #{CONTACTS,jdbcType=VARCHAR},
      </if>
      <if test="TELEPHONE != null" >
        #{TELEPHONE,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null" >
        #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTCODE != null" >
        #{DEPARTMENTCODE,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        #{x,jdbcType=DECIMAL},
      </if>
      <if test="y != null" >
        #{y,jdbcType=DECIMAL},
      </if>
      <if test="CXRQ != null" >
        #{CXRQ,jdbcType=TIMESTAMP},
      </if>
      <if test="XZQBM != null" >
        #{XZQBM,jdbcType=VARCHAR},
      </if>
      <if test="ISDEPARTMENT != null" >
        #{ISDEPARTMENT,jdbcType=CHAR},
      </if>
      <if test="REMARK != null" >
        #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null" >
        #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null" >
        #{CJSJ,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.basic.entity.PRIVS_DEPARTMENTExample" resultType="java.lang.Integer" >
    select count(*) from PRIVS_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PRIVS_DEPARTMENT
    <set >
      <if test="record.ID != null" >
        ID = #{record.ID,jdbcType=VARCHAR},
      </if>
      <if test="record.NAME != null" >
        NAME = #{record.NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.ALIASNAME != null" >
        ALIASNAME = #{record.ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="record.DESCRIPTION != null" >
        DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="record.PARENTID != null" >
        PARENTID = #{record.PARENTID,jdbcType=VARCHAR},
      </if>
      <if test="record.DUTY != null" >
        DUTY = #{record.DUTY,jdbcType=VARCHAR},
      </if>
      <if test="record.CREATEDATE != null" >
        CREATEDATE = #{record.CREATEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ADDRESS != null" >
        ADDRESS = #{record.ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="record.URL != null" >
        URL = #{record.URL,jdbcType=VARCHAR},
      </if>
      <if test="record.CONTACTS != null" >
        CONTACTS = #{record.CONTACTS,jdbcType=VARCHAR},
      </if>
      <if test="record.TELEPHONE != null" >
        TELEPHONE = #{record.TELEPHONE,jdbcType=VARCHAR},
      </if>
      <if test="record.EMAIL != null" >
        EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="record.DEPARTMENTCODE != null" >
        DEPARTMENTCODE = #{record.DEPARTMENTCODE,jdbcType=VARCHAR},
      </if>
      <if test="record.x != null" >
        X = #{record.x,jdbcType=DECIMAL},
      </if>
      <if test="record.y != null" >
        Y = #{record.y,jdbcType=DECIMAL},
      </if>
      <if test="record.CXRQ != null" >
        CXRQ = #{record.CXRQ,jdbcType=TIMESTAMP},
      </if>
      <if test="record.XZQBM != null" >
        XZQBM = #{record.XZQBM,jdbcType=VARCHAR},
      </if>
      <if test="record.ISDEPARTMENT != null" >
        ISDEPARTMENT = #{record.ISDEPARTMENT,jdbcType=CHAR},
      </if>
      <if test="record.REMARK != null" >
        REMARK = #{record.REMARK,jdbcType=VARCHAR},
      </if>
      <if test="record.CJRID != null" >
        CJRID = #{record.CJRID,jdbcType=VARCHAR},
      </if>
      <if test="record.CJSJ != null" >
        CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PRIVS_DEPARTMENT
    set ID = #{record.ID,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      ALIASNAME = #{record.ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      PARENTID = #{record.PARENTID,jdbcType=VARCHAR},
      DUTY = #{record.DUTY,jdbcType=VARCHAR},
      CREATEDATE = #{record.CREATEDATE,jdbcType=TIMESTAMP},
      ADDRESS = #{record.ADDRESS,jdbcType=VARCHAR},
      URL = #{record.URL,jdbcType=VARCHAR},
      CONTACTS = #{record.CONTACTS,jdbcType=VARCHAR},
      TELEPHONE = #{record.TELEPHONE,jdbcType=VARCHAR},
      EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      DEPARTMENTCODE = #{record.DEPARTMENTCODE,jdbcType=VARCHAR},
      X = #{record.x,jdbcType=DECIMAL},
      Y = #{record.y,jdbcType=DECIMAL},
      CXRQ = #{record.CXRQ,jdbcType=TIMESTAMP},
      XZQBM = #{record.XZQBM,jdbcType=VARCHAR},
      ISDEPARTMENT = #{record.ISDEPARTMENT,jdbcType=CHAR},
      REMARK = #{record.REMARK,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.basic.entity.PRIVS_DEPARTMENT" >
    update PRIVS_DEPARTMENT
    <set >
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="ALIASNAME != null" >
        ALIASNAME = #{ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="PARENTID != null" >
        PARENTID = #{PARENTID,jdbcType=VARCHAR},
      </if>
      <if test="DUTY != null" >
        DUTY = #{DUTY,jdbcType=VARCHAR},
      </if>
      <if test="CREATEDATE != null" >
        CREATEDATE = #{CREATEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ADDRESS != null" >
        ADDRESS = #{ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="URL != null" >
        URL = #{URL,jdbcType=VARCHAR},
      </if>
      <if test="CONTACTS != null" >
        CONTACTS = #{CONTACTS,jdbcType=VARCHAR},
      </if>
      <if test="TELEPHONE != null" >
        TELEPHONE = #{TELEPHONE,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null" >
        EMAIL = #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTCODE != null" >
        DEPARTMENTCODE = #{DEPARTMENTCODE,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        X = #{x,jdbcType=DECIMAL},
      </if>
      <if test="y != null" >
        Y = #{y,jdbcType=DECIMAL},
      </if>
      <if test="CXRQ != null" >
        CXRQ = #{CXRQ,jdbcType=TIMESTAMP},
      </if>
      <if test="XZQBM != null" >
        XZQBM = #{XZQBM,jdbcType=VARCHAR},
      </if>
      <if test="ISDEPARTMENT != null" >
        ISDEPARTMENT = #{ISDEPARTMENT,jdbcType=CHAR},
      </if>
      <if test="REMARK != null" >
        REMARK = #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null" >
        CJRID = #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null" >
        CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.basic.entity.PRIVS_DEPARTMENT" >
    update PRIVS_DEPARTMENT
    set NAME = #{NAME,jdbcType=VARCHAR},
      ALIASNAME = #{ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      PARENTID = #{PARENTID,jdbcType=VARCHAR},
      DUTY = #{DUTY,jdbcType=VARCHAR},
      CREATEDATE = #{CREATEDATE,jdbcType=TIMESTAMP},
      ADDRESS = #{ADDRESS,jdbcType=VARCHAR},
      URL = #{URL,jdbcType=VARCHAR},
      CONTACTS = #{CONTACTS,jdbcType=VARCHAR},
      TELEPHONE = #{TELEPHONE,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      DEPARTMENTCODE = #{DEPARTMENTCODE,jdbcType=VARCHAR},
      X = #{x,jdbcType=DECIMAL},
      Y = #{y,jdbcType=DECIMAL},
      CXRQ = #{CXRQ,jdbcType=TIMESTAMP},
      XZQBM = #{XZQBM,jdbcType=VARCHAR},
      ISDEPARTMENT = #{ISDEPARTMENT,jdbcType=CHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>