<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.basic.mapper.PRIVS_ROLEMapper">
  <resultMap id="BaseResultMap" type="com.project.basic.entity.PRIVS_ROLE">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="ALIASNAME" jdbcType="VARCHAR" property="ALIASNAME" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="DESCRIPTION" />
    <result column="NAMESPACE" jdbcType="VARCHAR" property="NAMESPACE" />
    <result column="INDEXOFORDER" jdbcType="INTEGER" property="INDEXOFORDER" />
    <result column="ISSYSTEM" jdbcType="VARCHAR" property="ISSYSTEM" />
    <result column="CJRID" jdbcType="VARCHAR" property="CJRID" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="CJSJ" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.basic.entity.PRIVS_ROLE">
    <result column="REALFUNARR" jdbcType="LONGVARCHAR" property="REALFUNARR" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, ALIASNAME, DESCRIPTION, NAMESPACE, INDEXOFORDER, ISSYSTEM, CJRID, CJSJ
  </sql>
  <sql id="Blob_Column_List">
    REALFUNARR
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.project.basic.entity.PRIVS_ROLEExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PRIVS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.project.basic.entity.PRIVS_ROLEExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRIVS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PRIVS_ROLE
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRIVS_ROLE
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.basic.entity.PRIVS_ROLEExample">
    delete from PRIVS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.basic.entity.PRIVS_ROLE">
    insert into PRIVS_ROLE (ID, NAME, ALIASNAME, 
      DESCRIPTION, NAMESPACE, INDEXOFORDER, 
      ISSYSTEM, CJRID, CJSJ, 
      REALFUNARR)
    values (#{ID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, #{ALIASNAME,jdbcType=VARCHAR}, 
      #{DESCRIPTION,jdbcType=VARCHAR}, #{NAMESPACE,jdbcType=VARCHAR}, #{INDEXOFORDER,jdbcType=INTEGER}, 
      #{ISSYSTEM,jdbcType=VARCHAR}, #{CJRID,jdbcType=VARCHAR}, #{CJSJ,jdbcType=TIMESTAMP}, 
      #{REALFUNARR,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.basic.entity.PRIVS_ROLE">
    insert into PRIVS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="ALIASNAME != null">
        ALIASNAME,
      </if>
      <if test="DESCRIPTION != null">
        DESCRIPTION,
      </if>
      <if test="NAMESPACE != null">
        NAMESPACE,
      </if>
      <if test="INDEXOFORDER != null">
        INDEXOFORDER,
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM,
      </if>
      <if test="CJRID != null">
        CJRID,
      </if>
      <if test="CJSJ != null">
        CJSJ,
      </if>
      <if test="REALFUNARR != null">
        REALFUNARR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="ALIASNAME != null">
        #{ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCRIPTION != null">
        #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="NAMESPACE != null">
        #{NAMESPACE,jdbcType=VARCHAR},
      </if>
      <if test="INDEXOFORDER != null">
        #{INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="ISSYSTEM != null">
        #{ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        #{CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="REALFUNARR != null">
        #{REALFUNARR,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.basic.entity.PRIVS_ROLEExample" resultType="java.lang.Long">
    select count(*) from PRIVS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRIVS_ROLE
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=VARCHAR},
      </if>
      <if test="record.NAME != null">
        NAME = #{record.NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.ALIASNAME != null">
        ALIASNAME = #{record.ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="record.DESCRIPTION != null">
        DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="record.NAMESPACE != null">
        NAMESPACE = #{record.NAMESPACE,jdbcType=VARCHAR},
      </if>
      <if test="record.INDEXOFORDER != null">
        INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="record.ISSYSTEM != null">
        ISSYSTEM = #{record.ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="record.CJRID != null">
        CJRID = #{record.CJRID,jdbcType=VARCHAR},
      </if>
      <if test="record.CJSJ != null">
        CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="record.REALFUNARR != null">
        REALFUNARR = #{record.REALFUNARR,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PRIVS_ROLE
    set ID = #{record.ID,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      ALIASNAME = #{record.ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      NAMESPACE = #{record.NAMESPACE,jdbcType=VARCHAR},
      INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      ISSYSTEM = #{record.ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      REALFUNARR = #{record.REALFUNARR,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRIVS_ROLE
    set ID = #{record.ID,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      ALIASNAME = #{record.ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      NAMESPACE = #{record.NAMESPACE,jdbcType=VARCHAR},
      INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      ISSYSTEM = #{record.ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.basic.entity.PRIVS_ROLE">
    update PRIVS_ROLE
    <set>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="ALIASNAME != null">
        ALIASNAME = #{ALIASNAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCRIPTION != null">
        DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="NAMESPACE != null">
        NAMESPACE = #{NAMESPACE,jdbcType=VARCHAR},
      </if>
      <if test="INDEXOFORDER != null">
        INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM = #{ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        CJRID = #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="REALFUNARR != null">
        REALFUNARR = #{REALFUNARR,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.basic.entity.PRIVS_ROLE">
    update PRIVS_ROLE
    set NAME = #{NAME,jdbcType=VARCHAR},
      ALIASNAME = #{ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      NAMESPACE = #{NAMESPACE,jdbcType=VARCHAR},
      INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      ISSYSTEM = #{ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      REALFUNARR = #{REALFUNARR,jdbcType=LONGVARCHAR}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.basic.entity.PRIVS_ROLE">
    update PRIVS_ROLE
    set NAME = #{NAME,jdbcType=VARCHAR},
      ALIASNAME = #{ALIASNAME,jdbcType=VARCHAR},
      DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      NAMESPACE = #{NAMESPACE,jdbcType=VARCHAR},
      INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      ISSYSTEM = #{ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>