<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.basic.mapper.PRIVS_LEADERMapper">
  <resultMap id="BaseResultMap" type="com.project.basic.entity.PRIVS_LEADER">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="DEPARTMENTID" jdbcType="VARCHAR" property="DEPARTMENTID" />
    <result column="USERID" jdbcType="VARCHAR" property="USERID" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="ROLENAME" />
    <result column="POSITION" jdbcType="VARCHAR" property="POSITION" />
    <result column="RESPONSIBILITY" jdbcType="VARCHAR" property="RESPONSIBILITY" />
    <result column="REMARK" jdbcType="VARCHAR" property="REMARK" />
    <result column="LEADERLEVEL" jdbcType="VARCHAR" property="LEADERLEVEL" />
    <result column="ISSINGLE" jdbcType="CHAR" property="ISSINGLE" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="DESCRIPTION" />
    <result column="ISSYSTEM" jdbcType="VARCHAR" property="ISSYSTEM" />
    <result column="CJRID" jdbcType="VARCHAR" property="CJRID" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="CJSJ" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, DEPARTMENTID, USERID, ROLENAME, POSITION, RESPONSIBILITY, REMARK, LEADERLEVEL, 
    ISSINGLE, DESCRIPTION, ISSYSTEM, CJRID, CJSJ
  </sql>
  <select id="selectByExample" parameterType="com.project.basic.entity.PRIVS_LEADERExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRIVS_LEADER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRIVS_LEADER
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRIVS_LEADER
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.basic.entity.PRIVS_LEADERExample">
    delete from PRIVS_LEADER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.basic.entity.PRIVS_LEADER">
    insert into PRIVS_LEADER (ID, DEPARTMENTID, USERID, 
      ROLENAME, POSITION, RESPONSIBILITY, 
      REMARK, LEADERLEVEL, ISSINGLE, 
      DESCRIPTION, ISSYSTEM, CJRID, 
      CJSJ)
    values (#{ID,jdbcType=VARCHAR}, #{DEPARTMENTID,jdbcType=VARCHAR}, #{USERID,jdbcType=VARCHAR}, 
      #{ROLENAME,jdbcType=VARCHAR}, #{POSITION,jdbcType=VARCHAR}, #{RESPONSIBILITY,jdbcType=VARCHAR}, 
      #{REMARK,jdbcType=VARCHAR}, #{LEADERLEVEL,jdbcType=VARCHAR}, #{ISSINGLE,jdbcType=CHAR}, 
      #{DESCRIPTION,jdbcType=VARCHAR}, #{ISSYSTEM,jdbcType=VARCHAR}, #{CJRID,jdbcType=VARCHAR}, 
      #{CJSJ,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.project.basic.entity.PRIVS_LEADER">
    insert into PRIVS_LEADER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="DEPARTMENTID != null">
        DEPARTMENTID,
      </if>
      <if test="USERID != null">
        USERID,
      </if>
      <if test="ROLENAME != null">
        ROLENAME,
      </if>
      <if test="POSITION != null">
        POSITION,
      </if>
      <if test="RESPONSIBILITY != null">
        RESPONSIBILITY,
      </if>
      <if test="REMARK != null">
        REMARK,
      </if>
      <if test="LEADERLEVEL != null">
        LEADERLEVEL,
      </if>
      <if test="ISSINGLE != null">
        ISSINGLE,
      </if>
      <if test="DESCRIPTION != null">
        DESCRIPTION,
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM,
      </if>
      <if test="CJRID != null">
        CJRID,
      </if>
      <if test="CJSJ != null">
        CJSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTID != null">
        #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="USERID != null">
        #{USERID,jdbcType=VARCHAR},
      </if>
      <if test="ROLENAME != null">
        #{ROLENAME,jdbcType=VARCHAR},
      </if>
      <if test="POSITION != null">
        #{POSITION,jdbcType=VARCHAR},
      </if>
      <if test="RESPONSIBILITY != null">
        #{RESPONSIBILITY,jdbcType=VARCHAR},
      </if>
      <if test="REMARK != null">
        #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="LEADERLEVEL != null">
        #{LEADERLEVEL,jdbcType=VARCHAR},
      </if>
      <if test="ISSINGLE != null">
        #{ISSINGLE,jdbcType=CHAR},
      </if>
      <if test="DESCRIPTION != null">
        #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="ISSYSTEM != null">
        #{ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        #{CJSJ,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.basic.entity.PRIVS_LEADERExample" resultType="java.lang.Long">
    select count(*) from PRIVS_LEADER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRIVS_LEADER
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=VARCHAR},
      </if>
      <if test="record.DEPARTMENTID != null">
        DEPARTMENTID = #{record.DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="record.USERID != null">
        USERID = #{record.USERID,jdbcType=VARCHAR},
      </if>
      <if test="record.ROLENAME != null">
        ROLENAME = #{record.ROLENAME,jdbcType=VARCHAR},
      </if>
      <if test="record.POSITION != null">
        POSITION = #{record.POSITION,jdbcType=VARCHAR},
      </if>
      <if test="record.RESPONSIBILITY != null">
        RESPONSIBILITY = #{record.RESPONSIBILITY,jdbcType=VARCHAR},
      </if>
      <if test="record.REMARK != null">
        REMARK = #{record.REMARK,jdbcType=VARCHAR},
      </if>
      <if test="record.LEADERLEVEL != null">
        LEADERLEVEL = #{record.LEADERLEVEL,jdbcType=VARCHAR},
      </if>
      <if test="record.ISSINGLE != null">
        ISSINGLE = #{record.ISSINGLE,jdbcType=CHAR},
      </if>
      <if test="record.DESCRIPTION != null">
        DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="record.ISSYSTEM != null">
        ISSYSTEM = #{record.ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="record.CJRID != null">
        CJRID = #{record.CJRID,jdbcType=VARCHAR},
      </if>
      <if test="record.CJSJ != null">
        CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRIVS_LEADER
    set ID = #{record.ID,jdbcType=VARCHAR},
      DEPARTMENTID = #{record.DEPARTMENTID,jdbcType=VARCHAR},
      USERID = #{record.USERID,jdbcType=VARCHAR},
      ROLENAME = #{record.ROLENAME,jdbcType=VARCHAR},
      POSITION = #{record.POSITION,jdbcType=VARCHAR},
      RESPONSIBILITY = #{record.RESPONSIBILITY,jdbcType=VARCHAR},
      REMARK = #{record.REMARK,jdbcType=VARCHAR},
      LEADERLEVEL = #{record.LEADERLEVEL,jdbcType=VARCHAR},
      ISSINGLE = #{record.ISSINGLE,jdbcType=CHAR},
      DESCRIPTION = #{record.DESCRIPTION,jdbcType=VARCHAR},
      ISSYSTEM = #{record.ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.basic.entity.PRIVS_LEADER">
    update PRIVS_LEADER
    <set>
      <if test="DEPARTMENTID != null">
        DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="USERID != null">
        USERID = #{USERID,jdbcType=VARCHAR},
      </if>
      <if test="ROLENAME != null">
        ROLENAME = #{ROLENAME,jdbcType=VARCHAR},
      </if>
      <if test="POSITION != null">
        POSITION = #{POSITION,jdbcType=VARCHAR},
      </if>
      <if test="RESPONSIBILITY != null">
        RESPONSIBILITY = #{RESPONSIBILITY,jdbcType=VARCHAR},
      </if>
      <if test="REMARK != null">
        REMARK = #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="LEADERLEVEL != null">
        LEADERLEVEL = #{LEADERLEVEL,jdbcType=VARCHAR},
      </if>
      <if test="ISSINGLE != null">
        ISSINGLE = #{ISSINGLE,jdbcType=CHAR},
      </if>
      <if test="DESCRIPTION != null">
        DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM = #{ISSYSTEM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        CJRID = #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.basic.entity.PRIVS_LEADER">
    update PRIVS_LEADER
    set DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      USERID = #{USERID,jdbcType=VARCHAR},
      ROLENAME = #{ROLENAME,jdbcType=VARCHAR},
      POSITION = #{POSITION,jdbcType=VARCHAR},
      RESPONSIBILITY = #{RESPONSIBILITY,jdbcType=VARCHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      LEADERLEVEL = #{LEADERLEVEL,jdbcType=VARCHAR},
      ISSINGLE = #{ISSINGLE,jdbcType=CHAR},
      DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
      ISSYSTEM = #{ISSYSTEM,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>