<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.basic.mapper.PRIVS_USERMapper">
  <resultMap id="BaseResultMap" type="com.project.basic.entity.PRIVS_USER">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="DEPARTMENTID" jdbcType="VARCHAR" property="DEPARTMENTID" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="REALNAME" jdbcType="VARCHAR" property="REALNAME" />
    <result column="IDCARD" jdbcType="VARCHAR" property="IDCARD" />
    <result column="SEX" jdbcType="CHAR" property="SEX" />
    <result column="USERCODE" jdbcType="VARCHAR" property="USERCODE" />
    <result column="MOBILE" jdbcType="VARCHAR" property="MOBILE" />
    <result column="QQ" jdbcType="VARCHAR" property="QQ" />
    <result column="EMAIL" jdbcType="VARCHAR" property="EMAIL" />
    <result column="CAREERENTRY" jdbcType="TIMESTAMP" property="CAREERENTRY" />
    <result column="LEAVEDATE" jdbcType="TIMESTAMP" property="LEAVEDATE" />
    <result column="LEADERID" jdbcType="VARCHAR" property="LEADERID" />
    <result column="POSITIONID" jdbcType="VARCHAR" property="POSITIONID" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="PASSWORD" />
    <result column="TOKEN" jdbcType="VARCHAR" property="TOKEN" />
    <result column="ISSYSTEM" jdbcType="CHAR" property="ISSYSTEM" />
    <result column="ISLOCKED" jdbcType="CHAR" property="ISLOCKED" />
    <result column="REMARK" jdbcType="VARCHAR" property="REMARK" />
    <result column="INDEXOFORDER" jdbcType="INTEGER" property="INDEXOFORDER" />
    <result column="BGWZ" jdbcType="VARCHAR" property="BGWZ" />
    <result column="BGDH" jdbcType="VARCHAR" property="BGDH" />
    <result column="GN" jdbcType="VARCHAR" property="GN" />
    <result column="CLIENTID" jdbcType="VARCHAR" property="CLIENTID" />
    <result column="SFYXGMM" jdbcType="CHAR" property="SFYXGMM" />
    <result column="ZSBMID" jdbcType="VARCHAR" property="ZSBMID" />
    <result column="WXBSM" jdbcType="VARCHAR" property="WXBSM" />
    <result column="CJRID" jdbcType="VARCHAR" property="CJRID" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="CJSJ" />
    <result column="NAMEPassword" jdbcType="VARCHAR" property="NAMEPassword" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.basic.entity.PRIVS_USER">
    <result column="PHOTOPATH" jdbcType="LONGVARCHAR" property="PHOTOPATH" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, DEPARTMENTID, NAME, REALNAME, IDCARD, SEX, USERCODE, MOBILE, QQ, EMAIL, CAREERENTRY, 
    LEAVEDATE, LEADERID, POSITIONID, PASSWORD, TOKEN, ISSYSTEM, ISLOCKED, REMARK, INDEXOFORDER, 
    BGWZ, BGDH, GN, CLIENTID, SFYXGMM, ZSBMID, WXBSM, CJRID, CJSJ, NAMEPassword
  </sql>
  <sql id="Blob_Column_List">
    PHOTOPATH
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.project.basic.entity.PRIVS_USERExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PRIVS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.project.basic.entity.PRIVS_USERExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRIVS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PRIVS_USER
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRIVS_USER
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.basic.entity.PRIVS_USERExample">
    delete from PRIVS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.basic.entity.PRIVS_USER">
    insert into PRIVS_USER (ID, DEPARTMENTID, NAME, 
      REALNAME, IDCARD, SEX, 
      USERCODE, MOBILE, QQ, 
      EMAIL, CAREERENTRY, LEAVEDATE, 
      LEADERID, POSITIONID, PASSWORD, 
      TOKEN, ISSYSTEM, ISLOCKED, 
      REMARK, INDEXOFORDER, BGWZ, 
      BGDH, GN, CLIENTID, 
      SFYXGMM, ZSBMID, WXBSM, 
      CJRID, CJSJ, NAMEPassword, 
      PHOTOPATH)
    values (#{ID,jdbcType=VARCHAR}, #{DEPARTMENTID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, 
      #{REALNAME,jdbcType=VARCHAR}, #{IDCARD,jdbcType=VARCHAR}, #{SEX,jdbcType=CHAR}, 
      #{USERCODE,jdbcType=VARCHAR}, #{MOBILE,jdbcType=VARCHAR}, #{QQ,jdbcType=VARCHAR}, 
      #{EMAIL,jdbcType=VARCHAR}, #{CAREERENTRY,jdbcType=TIMESTAMP}, #{LEAVEDATE,jdbcType=TIMESTAMP}, 
      #{LEADERID,jdbcType=VARCHAR}, #{POSITIONID,jdbcType=VARCHAR}, #{PASSWORD,jdbcType=VARCHAR}, 
      #{TOKEN,jdbcType=VARCHAR}, #{ISSYSTEM,jdbcType=CHAR}, #{ISLOCKED,jdbcType=CHAR}, 
      #{REMARK,jdbcType=VARCHAR}, #{INDEXOFORDER,jdbcType=INTEGER}, #{BGWZ,jdbcType=VARCHAR}, 
      #{BGDH,jdbcType=VARCHAR}, #{GN,jdbcType=VARCHAR}, #{CLIENTID,jdbcType=VARCHAR}, 
      #{SFYXGMM,jdbcType=CHAR}, #{ZSBMID,jdbcType=VARCHAR}, #{WXBSM,jdbcType=VARCHAR}, 
      #{CJRID,jdbcType=VARCHAR}, #{CJSJ,jdbcType=TIMESTAMP}, #{NAMEPassword,jdbcType=VARCHAR}, 
      #{PHOTOPATH,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.basic.entity.PRIVS_USER">
    insert into PRIVS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="DEPARTMENTID != null">
        DEPARTMENTID,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="REALNAME != null">
        REALNAME,
      </if>
      <if test="IDCARD != null">
        IDCARD,
      </if>
      <if test="SEX != null">
        SEX,
      </if>
      <if test="USERCODE != null">
        USERCODE,
      </if>
      <if test="MOBILE != null">
        MOBILE,
      </if>
      <if test="QQ != null">
        QQ,
      </if>
      <if test="EMAIL != null">
        EMAIL,
      </if>
      <if test="CAREERENTRY != null">
        CAREERENTRY,
      </if>
      <if test="LEAVEDATE != null">
        LEAVEDATE,
      </if>
      <if test="LEADERID != null">
        LEADERID,
      </if>
      <if test="POSITIONID != null">
        POSITIONID,
      </if>
      <if test="PASSWORD != null">
        PASSWORD,
      </if>
      <if test="TOKEN != null">
        TOKEN,
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM,
      </if>
      <if test="ISLOCKED != null">
        ISLOCKED,
      </if>
      <if test="REMARK != null">
        REMARK,
      </if>
      <if test="INDEXOFORDER != null">
        INDEXOFORDER,
      </if>
      <if test="BGWZ != null">
        BGWZ,
      </if>
      <if test="BGDH != null">
        BGDH,
      </if>
      <if test="GN != null">
        GN,
      </if>
      <if test="CLIENTID != null">
        CLIENTID,
      </if>
      <if test="SFYXGMM != null">
        SFYXGMM,
      </if>
      <if test="ZSBMID != null">
        ZSBMID,
      </if>
      <if test="WXBSM != null">
        WXBSM,
      </if>
      <if test="CJRID != null">
        CJRID,
      </if>
      <if test="CJSJ != null">
        CJSJ,
      </if>
      <if test="NAMEPassword != null">
        NAMEPassword,
      </if>
      <if test="PHOTOPATH != null">
        PHOTOPATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTID != null">
        #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="REALNAME != null">
        #{REALNAME,jdbcType=VARCHAR},
      </if>
      <if test="IDCARD != null">
        #{IDCARD,jdbcType=VARCHAR},
      </if>
      <if test="SEX != null">
        #{SEX,jdbcType=CHAR},
      </if>
      <if test="USERCODE != null">
        #{USERCODE,jdbcType=VARCHAR},
      </if>
      <if test="MOBILE != null">
        #{MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="QQ != null">
        #{QQ,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null">
        #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="CAREERENTRY != null">
        #{CAREERENTRY,jdbcType=TIMESTAMP},
      </if>
      <if test="LEAVEDATE != null">
        #{LEAVEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="LEADERID != null">
        #{LEADERID,jdbcType=VARCHAR},
      </if>
      <if test="POSITIONID != null">
        #{POSITIONID,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null">
        #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="TOKEN != null">
        #{TOKEN,jdbcType=VARCHAR},
      </if>
      <if test="ISSYSTEM != null">
        #{ISSYSTEM,jdbcType=CHAR},
      </if>
      <if test="ISLOCKED != null">
        #{ISLOCKED,jdbcType=CHAR},
      </if>
      <if test="REMARK != null">
        #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="INDEXOFORDER != null">
        #{INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="BGWZ != null">
        #{BGWZ,jdbcType=VARCHAR},
      </if>
      <if test="BGDH != null">
        #{BGDH,jdbcType=VARCHAR},
      </if>
      <if test="GN != null">
        #{GN,jdbcType=VARCHAR},
      </if>
      <if test="CLIENTID != null">
        #{CLIENTID,jdbcType=VARCHAR},
      </if>
      <if test="SFYXGMM != null">
        #{SFYXGMM,jdbcType=CHAR},
      </if>
      <if test="ZSBMID != null">
        #{ZSBMID,jdbcType=VARCHAR},
      </if>
      <if test="WXBSM != null">
        #{WXBSM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        #{CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="NAMEPassword != null">
        #{NAMEPassword,jdbcType=VARCHAR},
      </if>
      <if test="PHOTOPATH != null">
        #{PHOTOPATH,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.basic.entity.PRIVS_USERExample" resultType="java.lang.Long">
    select count(*) from PRIVS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRIVS_USER
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=VARCHAR},
      </if>
      <if test="record.DEPARTMENTID != null">
        DEPARTMENTID = #{record.DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="record.NAME != null">
        NAME = #{record.NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.REALNAME != null">
        REALNAME = #{record.REALNAME,jdbcType=VARCHAR},
      </if>
      <if test="record.IDCARD != null">
        IDCARD = #{record.IDCARD,jdbcType=VARCHAR},
      </if>
      <if test="record.SEX != null">
        SEX = #{record.SEX,jdbcType=CHAR},
      </if>
      <if test="record.USERCODE != null">
        USERCODE = #{record.USERCODE,jdbcType=VARCHAR},
      </if>
      <if test="record.MOBILE != null">
        MOBILE = #{record.MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="record.QQ != null">
        QQ = #{record.QQ,jdbcType=VARCHAR},
      </if>
      <if test="record.EMAIL != null">
        EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="record.CAREERENTRY != null">
        CAREERENTRY = #{record.CAREERENTRY,jdbcType=TIMESTAMP},
      </if>
      <if test="record.LEAVEDATE != null">
        LEAVEDATE = #{record.LEAVEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="record.LEADERID != null">
        LEADERID = #{record.LEADERID,jdbcType=VARCHAR},
      </if>
      <if test="record.POSITIONID != null">
        POSITIONID = #{record.POSITIONID,jdbcType=VARCHAR},
      </if>
      <if test="record.PASSWORD != null">
        PASSWORD = #{record.PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="record.TOKEN != null">
        TOKEN = #{record.TOKEN,jdbcType=VARCHAR},
      </if>
      <if test="record.ISSYSTEM != null">
        ISSYSTEM = #{record.ISSYSTEM,jdbcType=CHAR},
      </if>
      <if test="record.ISLOCKED != null">
        ISLOCKED = #{record.ISLOCKED,jdbcType=CHAR},
      </if>
      <if test="record.REMARK != null">
        REMARK = #{record.REMARK,jdbcType=VARCHAR},
      </if>
      <if test="record.INDEXOFORDER != null">
        INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="record.BGWZ != null">
        BGWZ = #{record.BGWZ,jdbcType=VARCHAR},
      </if>
      <if test="record.BGDH != null">
        BGDH = #{record.BGDH,jdbcType=VARCHAR},
      </if>
      <if test="record.GN != null">
        GN = #{record.GN,jdbcType=VARCHAR},
      </if>
      <if test="record.CLIENTID != null">
        CLIENTID = #{record.CLIENTID,jdbcType=VARCHAR},
      </if>
      <if test="record.SFYXGMM != null">
        SFYXGMM = #{record.SFYXGMM,jdbcType=CHAR},
      </if>
      <if test="record.ZSBMID != null">
        ZSBMID = #{record.ZSBMID,jdbcType=VARCHAR},
      </if>
      <if test="record.WXBSM != null">
        WXBSM = #{record.WXBSM,jdbcType=VARCHAR},
      </if>
      <if test="record.CJRID != null">
        CJRID = #{record.CJRID,jdbcType=VARCHAR},
      </if>
      <if test="record.CJSJ != null">
        CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="record.NAMEPassword != null">
        NAMEPassword = #{record.NAMEPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.PHOTOPATH != null">
        PHOTOPATH = #{record.PHOTOPATH,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PRIVS_USER
    set ID = #{record.ID,jdbcType=VARCHAR},
      DEPARTMENTID = #{record.DEPARTMENTID,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      REALNAME = #{record.REALNAME,jdbcType=VARCHAR},
      IDCARD = #{record.IDCARD,jdbcType=VARCHAR},
      SEX = #{record.SEX,jdbcType=CHAR},
      USERCODE = #{record.USERCODE,jdbcType=VARCHAR},
      MOBILE = #{record.MOBILE,jdbcType=VARCHAR},
      QQ = #{record.QQ,jdbcType=VARCHAR},
      EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      CAREERENTRY = #{record.CAREERENTRY,jdbcType=TIMESTAMP},
      LEAVEDATE = #{record.LEAVEDATE,jdbcType=TIMESTAMP},
      LEADERID = #{record.LEADERID,jdbcType=VARCHAR},
      POSITIONID = #{record.POSITIONID,jdbcType=VARCHAR},
      PASSWORD = #{record.PASSWORD,jdbcType=VARCHAR},
      TOKEN = #{record.TOKEN,jdbcType=VARCHAR},
      ISSYSTEM = #{record.ISSYSTEM,jdbcType=CHAR},
      ISLOCKED = #{record.ISLOCKED,jdbcType=CHAR},
      REMARK = #{record.REMARK,jdbcType=VARCHAR},
      INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      BGWZ = #{record.BGWZ,jdbcType=VARCHAR},
      BGDH = #{record.BGDH,jdbcType=VARCHAR},
      GN = #{record.GN,jdbcType=VARCHAR},
      CLIENTID = #{record.CLIENTID,jdbcType=VARCHAR},
      SFYXGMM = #{record.SFYXGMM,jdbcType=CHAR},
      ZSBMID = #{record.ZSBMID,jdbcType=VARCHAR},
      WXBSM = #{record.WXBSM,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      NAMEPassword = #{record.NAMEPassword,jdbcType=VARCHAR},
      PHOTOPATH = #{record.PHOTOPATH,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRIVS_USER
    set ID = #{record.ID,jdbcType=VARCHAR},
      DEPARTMENTID = #{record.DEPARTMENTID,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      REALNAME = #{record.REALNAME,jdbcType=VARCHAR},
      IDCARD = #{record.IDCARD,jdbcType=VARCHAR},
      SEX = #{record.SEX,jdbcType=CHAR},
      USERCODE = #{record.USERCODE,jdbcType=VARCHAR},
      MOBILE = #{record.MOBILE,jdbcType=VARCHAR},
      QQ = #{record.QQ,jdbcType=VARCHAR},
      EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      CAREERENTRY = #{record.CAREERENTRY,jdbcType=TIMESTAMP},
      LEAVEDATE = #{record.LEAVEDATE,jdbcType=TIMESTAMP},
      LEADERID = #{record.LEADERID,jdbcType=VARCHAR},
      POSITIONID = #{record.POSITIONID,jdbcType=VARCHAR},
      PASSWORD = #{record.PASSWORD,jdbcType=VARCHAR},
      TOKEN = #{record.TOKEN,jdbcType=VARCHAR},
      ISSYSTEM = #{record.ISSYSTEM,jdbcType=CHAR},
      ISLOCKED = #{record.ISLOCKED,jdbcType=CHAR},
      REMARK = #{record.REMARK,jdbcType=VARCHAR},
      INDEXOFORDER = #{record.INDEXOFORDER,jdbcType=INTEGER},
      BGWZ = #{record.BGWZ,jdbcType=VARCHAR},
      BGDH = #{record.BGDH,jdbcType=VARCHAR},
      GN = #{record.GN,jdbcType=VARCHAR},
      CLIENTID = #{record.CLIENTID,jdbcType=VARCHAR},
      SFYXGMM = #{record.SFYXGMM,jdbcType=CHAR},
      ZSBMID = #{record.ZSBMID,jdbcType=VARCHAR},
      WXBSM = #{record.WXBSM,jdbcType=VARCHAR},
      CJRID = #{record.CJRID,jdbcType=VARCHAR},
      CJSJ = #{record.CJSJ,jdbcType=TIMESTAMP},
      NAMEPassword = #{record.NAMEPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.basic.entity.PRIVS_USER">
    update PRIVS_USER
    <set>
      <if test="DEPARTMENTID != null">
        DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="REALNAME != null">
        REALNAME = #{REALNAME,jdbcType=VARCHAR},
      </if>
      <if test="IDCARD != null">
        IDCARD = #{IDCARD,jdbcType=VARCHAR},
      </if>
      <if test="SEX != null">
        SEX = #{SEX,jdbcType=CHAR},
      </if>
      <if test="USERCODE != null">
        USERCODE = #{USERCODE,jdbcType=VARCHAR},
      </if>
      <if test="MOBILE != null">
        MOBILE = #{MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="QQ != null">
        QQ = #{QQ,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null">
        EMAIL = #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="CAREERENTRY != null">
        CAREERENTRY = #{CAREERENTRY,jdbcType=TIMESTAMP},
      </if>
      <if test="LEAVEDATE != null">
        LEAVEDATE = #{LEAVEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="LEADERID != null">
        LEADERID = #{LEADERID,jdbcType=VARCHAR},
      </if>
      <if test="POSITIONID != null">
        POSITIONID = #{POSITIONID,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null">
        PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="TOKEN != null">
        TOKEN = #{TOKEN,jdbcType=VARCHAR},
      </if>
      <if test="ISSYSTEM != null">
        ISSYSTEM = #{ISSYSTEM,jdbcType=CHAR},
      </if>
      <if test="ISLOCKED != null">
        ISLOCKED = #{ISLOCKED,jdbcType=CHAR},
      </if>
      <if test="REMARK != null">
        REMARK = #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="INDEXOFORDER != null">
        INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      </if>
      <if test="BGWZ != null">
        BGWZ = #{BGWZ,jdbcType=VARCHAR},
      </if>
      <if test="BGDH != null">
        BGDH = #{BGDH,jdbcType=VARCHAR},
      </if>
      <if test="GN != null">
        GN = #{GN,jdbcType=VARCHAR},
      </if>
      <if test="CLIENTID != null">
        CLIENTID = #{CLIENTID,jdbcType=VARCHAR},
      </if>
      <if test="SFYXGMM != null">
        SFYXGMM = #{SFYXGMM,jdbcType=CHAR},
      </if>
      <if test="ZSBMID != null">
        ZSBMID = #{ZSBMID,jdbcType=VARCHAR},
      </if>
      <if test="WXBSM != null">
        WXBSM = #{WXBSM,jdbcType=VARCHAR},
      </if>
      <if test="CJRID != null">
        CJRID = #{CJRID,jdbcType=VARCHAR},
      </if>
      <if test="CJSJ != null">
        CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="NAMEPassword != null">
        NAMEPassword = #{NAMEPassword,jdbcType=VARCHAR},
      </if>
      <if test="PHOTOPATH != null">
        PHOTOPATH = #{PHOTOPATH,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.basic.entity.PRIVS_USER">
    update PRIVS_USER
    set DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      NAME = #{NAME,jdbcType=VARCHAR},
      REALNAME = #{REALNAME,jdbcType=VARCHAR},
      IDCARD = #{IDCARD,jdbcType=VARCHAR},
      SEX = #{SEX,jdbcType=CHAR},
      USERCODE = #{USERCODE,jdbcType=VARCHAR},
      MOBILE = #{MOBILE,jdbcType=VARCHAR},
      QQ = #{QQ,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      CAREERENTRY = #{CAREERENTRY,jdbcType=TIMESTAMP},
      LEAVEDATE = #{LEAVEDATE,jdbcType=TIMESTAMP},
      LEADERID = #{LEADERID,jdbcType=VARCHAR},
      POSITIONID = #{POSITIONID,jdbcType=VARCHAR},
      PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      TOKEN = #{TOKEN,jdbcType=VARCHAR},
      ISSYSTEM = #{ISSYSTEM,jdbcType=CHAR},
      ISLOCKED = #{ISLOCKED,jdbcType=CHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      BGWZ = #{BGWZ,jdbcType=VARCHAR},
      BGDH = #{BGDH,jdbcType=VARCHAR},
      GN = #{GN,jdbcType=VARCHAR},
      CLIENTID = #{CLIENTID,jdbcType=VARCHAR},
      SFYXGMM = #{SFYXGMM,jdbcType=CHAR},
      ZSBMID = #{ZSBMID,jdbcType=VARCHAR},
      WXBSM = #{WXBSM,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      NAMEPassword = #{NAMEPassword,jdbcType=VARCHAR},
      PHOTOPATH = #{PHOTOPATH,jdbcType=LONGVARCHAR}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.basic.entity.PRIVS_USER">
    update PRIVS_USER
    set DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      NAME = #{NAME,jdbcType=VARCHAR},
      REALNAME = #{REALNAME,jdbcType=VARCHAR},
      IDCARD = #{IDCARD,jdbcType=VARCHAR},
      SEX = #{SEX,jdbcType=CHAR},
      USERCODE = #{USERCODE,jdbcType=VARCHAR},
      MOBILE = #{MOBILE,jdbcType=VARCHAR},
      QQ = #{QQ,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      CAREERENTRY = #{CAREERENTRY,jdbcType=TIMESTAMP},
      LEAVEDATE = #{LEAVEDATE,jdbcType=TIMESTAMP},
      LEADERID = #{LEADERID,jdbcType=VARCHAR},
      POSITIONID = #{POSITIONID,jdbcType=VARCHAR},
      PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      TOKEN = #{TOKEN,jdbcType=VARCHAR},
      ISSYSTEM = #{ISSYSTEM,jdbcType=CHAR},
      ISLOCKED = #{ISLOCKED,jdbcType=CHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      INDEXOFORDER = #{INDEXOFORDER,jdbcType=INTEGER},
      BGWZ = #{BGWZ,jdbcType=VARCHAR},
      BGDH = #{BGDH,jdbcType=VARCHAR},
      GN = #{GN,jdbcType=VARCHAR},
      CLIENTID = #{CLIENTID,jdbcType=VARCHAR},
      SFYXGMM = #{SFYXGMM,jdbcType=CHAR},
      ZSBMID = #{ZSBMID,jdbcType=VARCHAR},
      WXBSM = #{WXBSM,jdbcType=VARCHAR},
      CJRID = #{CJRID,jdbcType=VARCHAR},
      CJSJ = #{CJSJ,jdbcType=TIMESTAMP},
      NAMEPassword = #{NAMEPassword,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>