<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.basic.mapper.System_log_operationMapper">
  <resultMap id="BaseResultMap" type="com.project.basic.entity.System_log_operation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="yhmc" jdbcType="VARCHAR" property="yhmc" />
    <result column="yhid" jdbcType="VARCHAR" property="yhid" />
    <result column="dz" jdbcType="VARCHAR" property="dz" />
    <result column="mk" jdbcType="VARCHAR" property="mk" />
    <result column="sjid" jdbcType="VARCHAR" property="sjid" />
    <result column="czlx" jdbcType="VARCHAR" property="czlx" />
    <result column="czsj" jdbcType="TIMESTAMP" property="czsj" />
    <result column="ffm" jdbcType="VARCHAR" property="ffm" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sjb" jdbcType="VARCHAR" property="sjb" />
    <result column="lm" jdbcType="VARCHAR" property="lm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, yhmc, yhid, dz, mk, sjid, czlx, czsj, ffm, bz, sjb, lm
  </sql>
  <select id="selectByExample" parameterType="com.project.basic.entity.System_log_operationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_log_operation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_log_operation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from system_log_operation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.basic.entity.System_log_operationExample">
    delete from system_log_operation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.basic.entity.System_log_operation">
    insert into system_log_operation (id, yhmc, yhid, 
      dz, mk, sjid, czlx, 
      czsj, ffm, bz, sjb, 
      lm)
    values (#{id,jdbcType=VARCHAR}, #{yhmc,jdbcType=VARCHAR}, #{yhid,jdbcType=VARCHAR}, 
      #{dz,jdbcType=VARCHAR}, #{mk,jdbcType=VARCHAR}, #{sjid,jdbcType=VARCHAR}, #{czlx,jdbcType=VARCHAR}, 
      #{czsj,jdbcType=TIMESTAMP}, #{ffm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{sjb,jdbcType=VARCHAR}, 
      #{lm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.basic.entity.System_log_operation">
    insert into system_log_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yhmc != null">
        yhmc,
      </if>
      <if test="yhid != null">
        yhid,
      </if>
      <if test="dz != null">
        dz,
      </if>
      <if test="mk != null">
        mk,
      </if>
      <if test="sjid != null">
        sjid,
      </if>
      <if test="czlx != null">
        czlx,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="ffm != null">
        ffm,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sjb != null">
        sjb,
      </if>
      <if test="lm != null">
        lm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="yhmc != null">
        #{yhmc,jdbcType=VARCHAR},
      </if>
      <if test="yhid != null">
        #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="dz != null">
        #{dz,jdbcType=VARCHAR},
      </if>
      <if test="mk != null">
        #{mk,jdbcType=VARCHAR},
      </if>
      <if test="sjid != null">
        #{sjid,jdbcType=VARCHAR},
      </if>
      <if test="czlx != null">
        #{czlx,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ffm != null">
        #{ffm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sjb != null">
        #{sjb,jdbcType=VARCHAR},
      </if>
      <if test="lm != null">
        #{lm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.basic.entity.System_log_operationExample" resultType="java.lang.Long">
    select count(*) from system_log_operation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update system_log_operation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.yhmc != null">
        yhmc = #{record.yhmc,jdbcType=VARCHAR},
      </if>
      <if test="record.yhid != null">
        yhid = #{record.yhid,jdbcType=VARCHAR},
      </if>
      <if test="record.dz != null">
        dz = #{record.dz,jdbcType=VARCHAR},
      </if>
      <if test="record.mk != null">
        mk = #{record.mk,jdbcType=VARCHAR},
      </if>
      <if test="record.sjid != null">
        sjid = #{record.sjid,jdbcType=VARCHAR},
      </if>
      <if test="record.czlx != null">
        czlx = #{record.czlx,jdbcType=VARCHAR},
      </if>
      <if test="record.czsj != null">
        czsj = #{record.czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ffm != null">
        ffm = #{record.ffm,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sjb != null">
        sjb = #{record.sjb,jdbcType=VARCHAR},
      </if>
      <if test="record.lm != null">
        lm = #{record.lm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update system_log_operation
    set id = #{record.id,jdbcType=VARCHAR},
      yhmc = #{record.yhmc,jdbcType=VARCHAR},
      yhid = #{record.yhid,jdbcType=VARCHAR},
      dz = #{record.dz,jdbcType=VARCHAR},
      mk = #{record.mk,jdbcType=VARCHAR},
      sjid = #{record.sjid,jdbcType=VARCHAR},
      czlx = #{record.czlx,jdbcType=VARCHAR},
      czsj = #{record.czsj,jdbcType=TIMESTAMP},
      ffm = #{record.ffm,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sjb = #{record.sjb,jdbcType=VARCHAR},
      lm = #{record.lm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.basic.entity.System_log_operation">
    update system_log_operation
    <set>
      <if test="yhmc != null">
        yhmc = #{yhmc,jdbcType=VARCHAR},
      </if>
      <if test="yhid != null">
        yhid = #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="dz != null">
        dz = #{dz,jdbcType=VARCHAR},
      </if>
      <if test="mk != null">
        mk = #{mk,jdbcType=VARCHAR},
      </if>
      <if test="sjid != null">
        sjid = #{sjid,jdbcType=VARCHAR},
      </if>
      <if test="czlx != null">
        czlx = #{czlx,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ffm != null">
        ffm = #{ffm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sjb != null">
        sjb = #{sjb,jdbcType=VARCHAR},
      </if>
      <if test="lm != null">
        lm = #{lm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.basic.entity.System_log_operation">
    update system_log_operation
    set yhmc = #{yhmc,jdbcType=VARCHAR},
      yhid = #{yhid,jdbcType=VARCHAR},
      dz = #{dz,jdbcType=VARCHAR},
      mk = #{mk,jdbcType=VARCHAR},
      sjid = #{sjid,jdbcType=VARCHAR},
      czlx = #{czlx,jdbcType=VARCHAR},
      czsj = #{czsj,jdbcType=TIMESTAMP},
      ffm = #{ffm,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sjb = #{sjb,jdbcType=VARCHAR},
      lm = #{lm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>