<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.project.basic.mapper.SYSTEM_LOG_OPERATIONMapper">
  <resultMap id="BaseResultMap" type="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="YHMC" jdbcType="VARCHAR" property="YHMC" />
    <result column="YHID" jdbcType="VARCHAR" property="YHID" />
    <result column="DZ" jdbcType="VARCHAR" property="DZ" />
    <result column="MK" jdbcType="VARCHAR" property="MK" />
    <result column="SJID" jdbcType="VARCHAR" property="SJID" />
    <result column="CZLX" jdbcType="VARCHAR" property="CZLX" />
    <result column="CZSJ" jdbcType="TIMESTAMP" property="CZSJ" />
    <result column="FFM" jdbcType="VARCHAR" property="FFM" />
    <result column="SJB" jdbcType="VARCHAR" property="SJB" />
    <result column="LM" jdbcType="VARCHAR" property="LM" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    <result column="BZ" jdbcType="LONGVARCHAR" property="BZ" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, YHMC, YHID, DZ, MK, SJID, CZLX, CZSJ, FFM, SJB, LM
  </sql>
  <sql id="Blob_Column_List">
    BZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SYSTEM_LOG_OPERATION
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYSTEM_LOG_OPERATION
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    insert into SYSTEM_LOG_OPERATION (ID, YHMC, YHID, 
      DZ, MK, SJID, CZLX, 
      CZSJ, FFM, SJB, LM, 
      BZ)
    values (#{ID,jdbcType=VARCHAR}, #{YHMC,jdbcType=VARCHAR}, #{YHID,jdbcType=VARCHAR}, 
      #{DZ,jdbcType=VARCHAR}, #{MK,jdbcType=VARCHAR}, #{SJID,jdbcType=VARCHAR}, #{CZLX,jdbcType=VARCHAR}, 
      #{CZSJ,jdbcType=TIMESTAMP}, #{FFM,jdbcType=VARCHAR}, #{SJB,jdbcType=VARCHAR}, #{LM,jdbcType=VARCHAR}, 
      #{BZ,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    insert into SYSTEM_LOG_OPERATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="YHMC != null">
        YHMC,
      </if>
      <if test="YHID != null">
        YHID,
      </if>
      <if test="DZ != null">
        DZ,
      </if>
      <if test="MK != null">
        MK,
      </if>
      <if test="SJID != null">
        SJID,
      </if>
      <if test="CZLX != null">
        CZLX,
      </if>
      <if test="CZSJ != null">
        CZSJ,
      </if>
      <if test="FFM != null">
        FFM,
      </if>
      <if test="SJB != null">
        SJB,
      </if>
      <if test="LM != null">
        LM,
      </if>
      <if test="BZ != null">
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="YHMC != null">
        #{YHMC,jdbcType=VARCHAR},
      </if>
      <if test="YHID != null">
        #{YHID,jdbcType=VARCHAR},
      </if>
      <if test="DZ != null">
        #{DZ,jdbcType=VARCHAR},
      </if>
      <if test="MK != null">
        #{MK,jdbcType=VARCHAR},
      </if>
      <if test="SJID != null">
        #{SJID,jdbcType=VARCHAR},
      </if>
      <if test="CZLX != null">
        #{CZLX,jdbcType=VARCHAR},
      </if>
      <if test="CZSJ != null">
        #{CZSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="FFM != null">
        #{FFM,jdbcType=VARCHAR},
      </if>
      <if test="SJB != null">
        #{SJB,jdbcType=VARCHAR},
      </if>
      <if test="LM != null">
        #{LM,jdbcType=VARCHAR},
      </if>
      <if test="BZ != null">
        #{BZ,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    update SYSTEM_LOG_OPERATION
    <set>
      <if test="YHMC != null">
        YHMC = #{YHMC,jdbcType=VARCHAR},
      </if>
      <if test="YHID != null">
        YHID = #{YHID,jdbcType=VARCHAR},
      </if>
      <if test="DZ != null">
        DZ = #{DZ,jdbcType=VARCHAR},
      </if>
      <if test="MK != null">
        MK = #{MK,jdbcType=VARCHAR},
      </if>
      <if test="SJID != null">
        SJID = #{SJID,jdbcType=VARCHAR},
      </if>
      <if test="CZLX != null">
        CZLX = #{CZLX,jdbcType=VARCHAR},
      </if>
      <if test="CZSJ != null">
        CZSJ = #{CZSJ,jdbcType=TIMESTAMP},
      </if>
      <if test="FFM != null">
        FFM = #{FFM,jdbcType=VARCHAR},
      </if>
      <if test="SJB != null">
        SJB = #{SJB,jdbcType=VARCHAR},
      </if>
      <if test="LM != null">
        LM = #{LM,jdbcType=VARCHAR},
      </if>
      <if test="BZ != null">
        BZ = #{BZ,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    update SYSTEM_LOG_OPERATION
    set YHMC = #{YHMC,jdbcType=VARCHAR},
      YHID = #{YHID,jdbcType=VARCHAR},
      DZ = #{DZ,jdbcType=VARCHAR},
      MK = #{MK,jdbcType=VARCHAR},
      SJID = #{SJID,jdbcType=VARCHAR},
      CZLX = #{CZLX,jdbcType=VARCHAR},
      CZSJ = #{CZSJ,jdbcType=TIMESTAMP},
      FFM = #{FFM,jdbcType=VARCHAR},
      SJB = #{SJB,jdbcType=VARCHAR},
      LM = #{LM,jdbcType=VARCHAR},
      BZ = #{BZ,jdbcType=LONGVARCHAR}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.project.basic.entity.SYSTEM_LOG_OPERATION">
    update SYSTEM_LOG_OPERATION
    set YHMC = #{YHMC,jdbcType=VARCHAR},
      YHID = #{YHID,jdbcType=VARCHAR},
      DZ = #{DZ,jdbcType=VARCHAR},
      MK = #{MK,jdbcType=VARCHAR},
      SJID = #{SJID,jdbcType=VARCHAR},
      CZLX = #{CZLX,jdbcType=VARCHAR},
      CZSJ = #{CZSJ,jdbcType=TIMESTAMP},
      FFM = #{FFM,jdbcType=VARCHAR},
      SJB = #{SJB,jdbcType=VARCHAR},
      LM = #{LM,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>